<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="js/Main.Header.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <style>
        .logoStyle {
            font-family: 'Pacifico', cursive;
            font-size: 1.5rem;
        }

        .headerFont {
            font-family: 'Quicksand', sans-serif;
        }
        
        .HomeFont1 {
            font-family: 'Patua One', cursive;
            font-size: 3rem;
        }

    </style>
</head>
<body>
    <!--navbar-->
    <header role="banner">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="col-md-4" style="padding: 10px 0px;">
                <a class="navbar-brand logoStyle" style="margin-left: 8%;" href="#">Certificate Generator</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <ul class="navbar-nav headerFont">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:MovePage(1)">Home</a>
                    </li>
                    <li class="nav-item headerFont">
                        <a class="nav-link" href="javascript:MovePage(2)">Edit Certificate</a>
                    </li>
                    <li class="nav-item headerFont">
                        <a class="nav-link" href="javascript:MovePage(3)">About</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success" onclick="javascript:MovePage(4)">Login</button>
                <button class="btn btn-info" onclick="javascript:MovePage(5)">Register</button>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <br>
        <br>
        <br>
        <div class="container text-center">
            <h1 class="headerFont">We Help You</h1>
            <h1 class="HomeFont1">Create Your Own Certificate</h1>
        </div>
    </div>
</body>
</html>